/* Template Button */
.template-btn {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 6px 0;
  display: inline-block;
  color: var(--white-color);
  text-transform: capitalize;
  border: 1px solid transparent;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  transition: var(--transition);
  &:hover {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
  }
}

// .template-btn {
//   color: var(--white-color);
//   background-color: var(--secondary-color);
//   font-size: 14px;
//   font-weight: 500;
//   font-family: var(--heading-font);
//   text-transform: capitalize;
//   display: inline-block;
//   padding: 15px 30px;
//   border-radius: 6px 0;
//   border: 1px solid transparent;
//   transition: var(--transition);
//   &:hover {
//     color: var(--secondary-color);
//     background-color: transparent;
//     border: 1px solid var(--secondary-color);
//   }
// }
