// Theme Css

// .bg-primary {
//   background-color: var(--primary-color) !important;
// }

.bg-yellow-second {
  background-color: var(--yellow-second-color) !important;
}

.bg-red-second {
  background-color: var(--red-second-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}
.yellow-color {
  color: var(--yellow-color) !important;
}

h2.title {
  color: var(--heading-color);
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.15;
}

h4.title {
  color: #2b2e35;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.15;
}

.active {
  color: var(--primary-color) !important;
}

.padding-120 {
  padding: 120px 0px !important;
}

.template-input,
.template-textarea {
  width: 100%;
  display: block;
  padding: 15px 30px;
  margin-bottom: 20px;
  border: 2px solid var(--white-second-color);
  border-radius: 5px;
}

// Nice Select Plugin Support
.nice-select {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 15px 30px;
  border: 2px solid var(--white-second-color);
  border-radius: 5px;
  line-height: normal;

  span {
    color: var(--heading-color);
    font-size: 16px;
  }

  .list {
    top: 105%;
    width: 100%;
  }
}
