.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;

  .navbar-nav {
    margin: auto;

    .nav-item {
      margin: 0 15px;

      .nav-link {
        color: var(--purple-light-color);
        font-size: 16px;
        font-weight: 500;
        font-family: var(--heading-font);
        text-transform: capitalize;
        line-height: 80px;
        cursor: pointer;
        display: block;
      }

      &.nav-item-has-children {
        position: relative;

        & > .nav-link {
          &::after {
            content: "\f107";
            font-family: "fontawesome";
            color: var(--white-color);
            margin-left: 10px;
          }
        }

        .sub-menu {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 110%;
          left: 0;
          z-index: 99;
          padding-left: 0;
          background-color: var(--white-color);
          min-width: 200px;
          transition: var(--transition);

          .nav-item {
            margin: 0;

            .nav-link {
              display: block;
              padding: 12px 30px;
              line-height: normal;
              color: var(--paragraph-color);
              background-color: var(--white-color);
              transition: var(--transition);
              &:hover {
                color: var(--white-color);
                background-color: var(--purple-second-color);
              }
            }
          }
        }

        &:hover {
          .sub-menu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    @include under-tablet {
      background-color: var(--purple-second-color);
      margin-top: 30px;
      padding: 5px 20px;

      .nav-item {
        .nav-link {
          display: block;
          padding: 10px 0;
          line-height: 30px;
          color: var(--white-color);
          border-bottom: 1px solid var(--white-color);
        }

        &:last-child {
          .nav-link {
            border-bottom: none;
          }
        }
      }

      .nav-item.nav-item-has-children {
        & > .nav-link {
          &::after {
            float: right;
            margin-left: 0px;
          }
        }

        .nav-link {
          padding-right: 15px;
        }

        .sub-menu {
          display: none;
          position: static;
          opacity: 1;
          visibility: visible;
          .nav-item {
            .nav-link {
              color: var(--white-color);
              background-color: var(--purple-second-color);
              border-width: 2px;
            }

            &:last-child {
              border-bottom: 1px solid var(--white-color);
            }
          }
        }

        &:hover {
          .nav-link {
            padding-bottom: 1px;
          }
          .sub-menu {
            display: block;
          }
        }
      }
    }
  }

  .nav-right-content {
    display: inline-flex;
    align-items: center;

    .navbar-toggler {
      margin-left: 20px;
      .navbar-toggler-bar {
        display: block;
        height: 2px;
        width: 24px;
        background-color: var(--white-color);
        margin: 4px 0;
      }
    }
  }
}
