.header-area {
  position: absolute;
  width: 100%;
  z-index: 9;

  .header-navbar {
    @include under-tablet() {
      .header-navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        width: 100%;
      }
    }

    .header-nav-right-content {
      .select-language-link {
        color: var(--purple-color);
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0 5px;
        transition: var(--transition);

        @mixin active() {
          color: var(--white-color) !important;
        }

        &.active {
          @include active();
        }
        &:hover {
          @include active();
        }
      }

      .header-template-btn.hire-me-btn {
        margin-left: 60px;

        @include tablet {
          margin-left: 30px;
        }
        @include landscape-phone {
          margin-left: 30px;
        }
      }

      @include under-landscape-phone() {
        .select-language-link,
        .header-template-btn.hire-me-btn {
          display: none;
        }
      }
    }
  }
}
