.header-area {
  position: absolute;
  width: 100%;
  z-index: 9;

  .header-navbar {
    @include under-tablet() {
      .header-navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        width: 100%;
      }
    }

    .navbar-nav {
      @include under-tablet {
        background-color: var(--purple-second-color);
        margin-top: 30px;
        padding: 5px 20px;

        .nav-item {
          .nav-link {
            display: block;
            padding: 10px 0;
            line-height: 30px;
            color: var(--white-color);
            border-bottom: 1px solid var(--white-color);
          }

          &:last-child {
            .nav-link {
              border-bottom: none;
            }
          }
        }

        .nav-item.nav-item-has-children {
          & > .nav-link {
            &::after {
              float: right;
              margin-left: 0px;
            }
          }

          .nav-link {
            padding-right: 15px;
          }

          .sub-menu {
            display: none;
            position: static;
            opacity: 1;
            visibility: visible;
            .nav-item {
              .nav-link {
                color: var(--white-color);
                background-color: var(--purple-second-color);
                border-width: 2px;
              }

              &:last-child {
                border-bottom: 1px solid var(--white-color);
              }
            }
          }

          &:hover {
            .nav-link {
              padding-bottom: 1px;
            }
            .sub-menu {
              display: block;
            }
          }
        }
      }
    }

    .header-nav-right-content {
      .select-language-link {
        color: var(--purple-color);
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0 5px;
        transition: var(--transition);

        @mixin active() {
          color: var(--white-color) !important;
        }

        &.active {
          @include active();
        }
        &:hover {
          @include active();
        }
      }

      .header-template-btn.hire-me-btn {
        background-color: var(--purple-color);
        margin-left: 60px;
        padding: 12px 20px;

        @include under-tablet {
          margin-left: 30px;
        }

        &:hover {
          color: var(--white-color);
          background-color: transparent;
          border: 1px solid var(--purple-color);
        }
      }

      @include under-landscape-phone() {
        .select-language-link,
        .header-template-btn.hire-me-btn {
          display: none;
        }
      }
    }
  }
}
