.header-area {
  position: absolute;

  .nav-right-content {
    .select-language-link {
      color: var(--purple-color);
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0 5px;
      transition: var(--transition);

      &.active {
        @include active(--white-color);
      }
      &:hover {
        @include active(--white-color);
      }
    }

    .header-template-btn {
      background-color: var(--purple-color);
      margin-left: 60px;
      padding: 12px 20px;

      @include tablet {
        margin-left: 30px;
      }
      @include landscape-phone {
        margin-left: 30px;
      }

      &:hover {
        color: var(--white-color);
        background-color: transparent;
        border: 1px solid var(--purple-color);
      }
    }
  }
}
