.navbar {
  display: flex;
  justify-content: space-between;

  ul.navbar-nav {
    margin: auto;

    li.menu-item {
      margin: 0 15px;
      a {
        color: var(--purple-light-color);
        font-size: 16px;
        font-weight: 500;
        font-family: var(--heading-font);
        text-transform: capitalize;
        line-height: 80px;
      }
    }

    li.menu-item.menu-item-has-children {
      position: relative;

      .sub-menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 99;
        min-width: 200px;
        padding-left: 0;
        background-color: var(--white-color);
        transition: var(--transition);

        .menu-item {
          margin: 0;
          a {
            display: block;
            padding: 12px 30px;
            line-height: normal;
            color: var(--paragraph-color);
            background-color: var(--white-color);
            transition: var(--transition);
            &:hover {
              color: var(--white-color);
              background-color: var(--purple-second-color);
            }
          }
        }
      }

      &:hover {
        .sub-menu {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }

      &::after {
        content: "\f107";
        font-family: "fontawesome";
        color: var(--white-color);
        margin-left: 5px;
      }
    }
  }
}
