/* Mixins */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet');
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
:root {
  --primary-color: #41228e;
  --secondary-color: #e22b55;
  --purple-color: #6b57a5;
  --purple-light-color: #a495c9;
  --purple-second-color: #7877ee;
  --white-color: #ffffff;
  --heading-color: #131a55;
  --paragraph-color: #131a55;
  --transition: all 0.3s ease-in;
  --transition-long: all 0.5s ease-in;
  --heading-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--paragraph-color);
  font-family: var(--body-font);
}

h2 {
  font-size: 36px;
  line-height: 1.4444444444;
}

h2 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

h2.title {
  color: var(--heading-color);
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.15;
}

.active {
  color: var(--primary-color);
}

/* Template Button */
.template-btn {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 6px 0;
  display: inline-block;
  color: var(--white-color);
  text-transform: capitalize;
  border: 1px solid transparent;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  transition: var(--transition);
}
.template-btn:hover {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar ul.navbar-nav {
  margin: auto;
}
.navbar ul.navbar-nav li.menu-item {
  margin: 0 15px;
}
.navbar ul.navbar-nav li.menu-item a {
  color: var(--purple-light-color);
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font);
  text-transform: capitalize;
  line-height: 80px;
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children {
  position: relative;
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 99;
  min-width: 200px;
  padding-left: 0;
  background-color: var(--white-color);
  transition: var(--transition);
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children .sub-menu .menu-item {
  margin: 0;
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children .sub-menu .menu-item a {
  display: block;
  padding: 12px 30px;
  line-height: normal;
  color: var(--paragraph-color);
  background-color: var(--white-color);
  transition: var(--transition);
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children .sub-menu .menu-item a:hover {
  color: var(--white-color);
  background-color: var(--purple-second-color);
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.navbar ul.navbar-nav li.menu-item.menu-item-has-children::after {
  content: "\f107";
  font-family: "fontawesome";
  color: var(--white-color);
  margin-left: 5px;
}

.header-area {
  width: 100%;
  position: absolute;
  z-index: 9;
}
.header-area .header-nav .nav-right-content .select-language-link {
  color: var(--purple-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 5px;
  transition: var(--transition);
}
.header-area .header-nav .nav-right-content .select-language-link.active {
  color: var(--white-color) !important;
}
.header-area .header-nav .nav-right-content .select-language-link:hover {
  color: var(--white-color) !important;
}
.header-area .header-nav .nav-right-content .header-template-btn {
  background-color: var(--purple-color);
  margin-left: 60px;
  padding: 12px 20px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-area .header-nav .nav-right-content .header-template-btn {
    margin-left: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-area .header-nav .nav-right-content .header-template-btn {
    margin-left: 30px;
  }
}
.header-area .header-nav .nav-right-content .header-template-btn:hover {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--purple-color);
}

.breadcrumb-area {
  background-color: var(--primary-color);
  padding: 200px 0 115px;
  background-image: url("/assets/images/client-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.breadcrumb-area h2.title,
.breadcrumb-area a,
.breadcrumb-area span {
  color: var(--white-color);
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
